<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Primer Proyecto Progra IV - A2</title>
</head>
<body>
    <h1>Hola Mundo</h1>

    <div id="app">
        <h3>Saludo desde Vue.js</h3>
        <label for="txtNum1">Num 1: </label>
        <input type="text" id="txtNum1" v-model="num1" /> 

        <label for="txtNum2">Num 2: </label>
        <input type="text" id="txtNum2" v-model="num2" />

        <button v-on:click="sumar">+</button>
        <button v-on:click="restar">-</button>
        
        Suma: {{ num1 }} {{ operacion }} {{ num2 }} = {{ respuesta }}
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script>
        const app =  new Vue({
            el: '#app',
            data: {
                operacion: '+',
                num1 : '',
                num2 : '',
                respuesta : ''
            },
            methods: {
                sumar(){
                    this.respuesta = parseFloat(this.num1) + 
                        parseFloat(this.num2);
                    this.operacion = '+';
                }, 
                restar(){
                    this.respuesta = parseFloat(this.num1) - 
                        parseFloat(this.num2);
                    this.operacion = '-';
                }
            }
        });
    </script>
</body>
</html>